* {
	box-sizing: border-box;
	color: white;
	font-family: 'Montserrat';
}

body {
	margin: 0;
	padding: 0;
}

.main {
	background-color: #212121;
	min-height: 100vh;
	overflow: hidden;
}

header {
	width: 100vw;
	background-color: #263238;
	padding: 5vh 5vw;
}

footer {
	width: 100vw;
	background-color: #263238;
	padding: 5vh 5vw;
}

.content {
	padding: 5vh 10vw;
	min-height: 90vh;
}